- name: Create main directory
  file:
    path:   "{{ remote_directory }}"
    state:  directory

- name: Synchronize static files
  synchronize:
    src:        .
    dest:       "{{ remote_directory }}/files"
    recursive:  true
    delete:     true
    perms:      true

# - name: Create globalrc directory structure
#   file:
#     state: directory
#     dest: '{{ remote_directory }}/{{ item.path }}'
#   with_filetree: '../templates/globalrc'
#   when: item.state == 'directory'
# 
# - name: Copy globalrc files
#   template:
#     src: '{{ item.src }}'
#     dest: '{{ remote_directory }}/{{ item.path }}'
#   with_filetree: '../templates/globalrc'
#   when: item.state == 'file'

- name: Setup the loading via .bashrc
  blockinfile:
    dest:   "{{ ansible_user_dir }}/.bashrc"
    create: true
    block:  |
      # Load custom configuration
      . {{ remote_directory }}/files/bash/bashrc

- name: Setup the loading via .zshrc
  blockinfile:
    dest:   "{{ ansible_user_dir }}/.zshrc"
    create: true
    block:  |
      # Load custom configuration
      . {{ remote_directory }}/files/zsh/zshrc

- name: Start the components requiring root access
  include: root.yml
  become:         true
  ignore_errors:  true

- name: Load git configuration
  blockinfile:
    dest:   "{{ ansible_user_dir }}/.gitconfig"
    create: true
    block:  |
      # Loading global git configuration
      [include]
        path = {{ remote_directory }}/files/gitconfig
      # Global .gitignore
      [core]
        excludesfile = {{ remote_directory }}/files/gitignore

- name: Load vim configuration
  blockinfile:
    dest:   "{{ ansible_user_dir }}/.vimrc"
    create: true
    marker: "\" {mark} ANSIBLE MANAGED BLOCK"
    block:  |
      \" Loading global vim configuration
      source {{ remote_directory }}/files/vimrc
    
