- name: Create main directory
  file:
    path:   "{{ remote_directory }}"
    state:  directory

- name: Synchronize static files
  synchronize:
    src:        .
    dest:       "{{ remote_directory }}/files"
    recursive:  true
    delete:     true
    perms:      true
    rsync_opts:
      - "--exclude=*.swp" # vim tempfiles
  tags: always

- name: Create templates directory
  file:
    state:  directory
    dest:   '{{ remote_directory }}/templates'

- name: Create templates directory structure
  file:
    state: directory
    dest: '{{ remote_directory }}/templates/{{ item.path }}'
  with_filetree: '../templates'
  when: item.state == 'directory'

# TODO : This section is to remove, we're going to process templates separately
- name: Process templates
  template:
    src: '{{ item.src }}'
    dest: '{{ remote_directory }}/templates/{{ item.path }}'
  with_filetree: '../templates'
  when: item.state == 'file' and not (item.path | regex_search('.swp'))
  tags: always

- name: Create the local_bin directory
  file:
    state: directory
    dest: '{{ remote_directory }}/local_bin'

# NB: Nothing is done to remove executables added by previous versions or by the user
- name: Download programs in local_bin directory
  get_url:
    url:  "{{ item }}"
    dest: "{{ remote_directory }}/local_bin/"
    mode: 0755
  with_items:
    - https://raw.githubusercontent.com/denilsonsa/prettyping/master/prettyping

- name: Setup the loading via .bashrc
  blockinfile:
    dest:   "{{ ansible_user_dir }}/.bashrc"
    create: true
    block:  |
      # Load custom configuration
      . {{ remote_directory }}/files/bashrc

- name: Start the components requiring root access
  import_tasks:  root.yml
  become:   true
  when:     have_root

  # TODO : Do this with an include
- name: Load IRB configuration
  blockinfile:
    dest:   "{{ ansible_user_dir }}/.irbrc"
    create: true
    block:  |
      IRB.conf[:SAVE_HISTORY] = 200
      IRB.conf[:HISTORY_FILE] = '~/.irb-history'

- name: Load git configuration
  blockinfile:
    dest:   "{{ ansible_user_dir }}/.gitconfig"
    create: true
    block:  |
      # Loading global git configuration
      [include]
        path = {{ remote_directory }}/files/gitconfig
      # Global .gitignore
      [core]
        excludesfile = {{ remote_directory }}/files/gitignore

- name: Install various x configurations
  import_tasks: x.yml
  when: desktop
  tags: x

- name: Install zsh configuration
  import_tasks: zsh.yml
  tags: zsh

- name: Install vim configuration
  import_tasks: vim.yml
  tags: vim

- name: Install ssh configuration
  import_tasks: ssh.yml
  tags: ssh

- name: Install tmux configuration
  import_tasks: tmux.yml
  tags: tmux

- name: Load screen configuration
  blockinfile:
    dest:         "{{ ansible_user_dir }}/.screenrc"
    insertbefore: BOF
    create:       true
    block:  |
      # Loading global screen configuration
      source {{ remote_directory }}/files/screenrc

# Mass-renaming tool with vim
- name: Download vimv
  get_url:
    url:  https://raw.githubusercontent.com/thameera/vimv/master/vimv
    dest: "{{ remote_directory }}/"
    mode: 0755

