
- name: Install zsh and usual tools (RedHat)
  dnf:
    name:
      - zsh
      - git
      # TODO: If we're on a desktop, install vim with clipboard support (vimx ?)
      - vim
      - screen
      - tmux
      - most
      - mosh
      - curl
      - prettyping

      # Language-specific package managers and tooling
      - cargo         # rust deps with cargo

  become: true
  when: have_root and ansible_os_family == "RedHat"

- name: install zsh and usual tools (Archlinux)
  pacman:
    name:
      - zsh
      - git
      # TODO: if we're on a desktop, install vim with clipboard support (vimx ?)
      - vim
      - screen
      - tmux
      - most
      - mosh
      - curl
      - prettyping

      # Language-specific package managers and tooling
      - cargo         # rust deps with cargo

  become: true
  when: have_root and ansible_os_family == "Archlinux"

- name: Install zsh and usual tools (Debian)
  apt:
    update_cache:     true
    cache_valid_time: 3600
    name:
      - zsh
      - git
      # TODO: If we're on a desktop, install vim with clipboard support (vim-gui-common)
      - vim
      - screen
      - tmux
      - most
      - mosh
      - curl
      - prettyping

      # Language-specific package managers and tooling
      - cargo         # rust deps with cargo

  when: have_root and ansible_os_family == 'Debian'

# We don't currently have any rust program installed with cargo, but we keep the setup for now
# - name: Install (compile) rust programs with cargo
#   community.general.cargo:
#     name: atuin
#     state: present
#     version: "18.2.0"

- name: Tombstone - Remove cargo atuin binary
  file:
    path: "{{ userspace_bin_path_cargo }}/atuin"
    state: absent
