
- name: Set zsh as default shell
  user:
    name:   "{{ ansible_user_id }}"
    shell:  /bin/zsh

- name: Install zsh and usual tools (Debian)
  apt:
    update_cache:     true
    cache_valid_time: 3600
    name:
      - zsh
      - git
      # TODO: If we're on a desktop, install vim with clipboard support (vim-gui-common)
      - vim
      - screen
      - tmux
      - most
      - mosh
      # Exa is currently installed manually for debian-based distros
      # - exa
  when: have_root and ansible_os_family == 'Debian'

- name: Install zsh and usual tools (RedHat)
  dnf:
    name:
      - zsh
      - git
      # TODO: If we're on a desktop, install vim with clipboard support (vimx ?)
      - vim
      - screen
      - tmux
      - most
      - mosh
      - exa
  become: true
  when: have_root and ansible_os_family == "RedHat"
