# TODO : load this file only if zsh is installed ?

- name: Create zsh_plugins directory
  file:
    path:   "{{ remote_directory }}/zsh_plugins"
    state:  directory

- name: Clone zsh plugins
  git:
    repo:     "{{ item.repo }}"
    dest:     "{{ remote_directory }}/zsh_plugins/{{ item.name }}"
    version:  "{{ item.version }}"
    depth:    1
  with_items:
    - name:     powerlevel10k
      repo:     https://github.com/romkatv/powerlevel10k
      version:  v1.14.3

    - name:     zsh-autosuggestions
#     repo:     https://github.com/zsh-users/zsh-autosuggestions
      repo:     https://github.com/toadjaune/zsh-autosuggestions
#     version:  master
      version:  compatibility-syntax-hl # Waiting for my fork to be merged

    - name:     zsh-completions
      repo:     https://github.com/zsh-users/zsh-completions
      version:  d3a273cedf788181db9a05726dcd4d930da9e248

    - name:     zsh-syntax-highlighting
      repo:     https://github.com/zsh-users/zsh-syntax-highlighting
      version:  db6cac391bee957c20ff3175b2f03c4817253e60

# Some specific tasks need to be done before loading .zshrc
# https://unix.stackexchange.com/questions/71253/what-should-shouldnt-go-in-zshenv-zshrc-zlogin-zprofile-zlogout#71258
# http://zsh.sourceforge.net/Intro/intro_3.html
# Currently, we need it only to run code before loading /etc/zsh/zshrc
- name: Setup early configuration via .zshenv
  blockinfile:
    dest:   "{{ ansible_user_dir }}/.zshenv"
    create: true
    block:  |
      # Disable compinit call in /etc/zsh/zshrc on ubuntu
      skip_global_compinit=1

- name: Setup the loading via .zshrc
  blockinfile:
    dest:   "{{ ansible_user_dir }}/.zshrc"
    create: true
    block:  |
      # Load custom configuration
      . {{ remote_directory }}/files/zshrc
