[submodule "zsh/components/zsh-syntax-highlighting"]
	path = lib/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "lib/csdt-globalrc"]
	path = lib/csdt-globalrc
	url = https://github.com/toadjaune/globalrc
