Host myserver
  HostName my.server.url.fr
  Port 22
  User zeronounours

Host tunnel-or-other-name
  HostName my.server.tunnel.fr
  Port 22
  DynamicForward 127.0.0.1:8080
  User zeronounours

Host other.server
  HostName 123.245.167.189
  Port 22
  User zeronounours

