
  # I couldn't find a way to make ansible regenerate initramfs with the new keyboard layout
  # I tried :
  # * Restarting keyboard-setup daemon
  # * setupcon
  # * setxkbmap
- debug:
    msg: "WARNING : Reboot then run `update-initramfs -u`"
  listen: keyboard_config
  changed_when: true
  when: ansible_os_family == "Debian"

- name: Regenerate initramfs (Fedora)
  command: "dracut --force"
  become: true
  listen: keyboard_config
  changed_when: true
  when: ansible_os_family == "RedHat"
