# Add host-specific configuration
# NB : for each, parameter, only the first value fount is used
# Therefore, overridable defaults need to come at the end

{{ extra_ssh_config }}

# git-hosting services and machines with a specific username
Host github.com gitlab.com
  User toadjaune

# Global defaults
Host *
  User root
  Port 22

  # Automatically add unlocked keys to running ssh-agent
  AddKeysToAgent yes

  {% if ansible_system == "Darwin" %}
  # Allow using the MacOS keychain as a ssh-agent
  # NB : This makes the keychain to permanently store the ssh key passphrase
  # cf : https://apple.stackexchange.com/a/250572/439540
  UseKeychain yes
  {% endif %}

# Crypto hardening
# Based on https://stribika.github.io/2015/01/04/secure-secure-shell.html
# Updated on 2021-11-01 by talking with crypto-savvy friends
Host *
  KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
  # We unfortunately sometimes need it
  # PasswordAuthentication no
  ChallengeResponseAuthentication no
  PubkeyAuthentication yes
  HostKeyAlgorithms sk-ssh-ed25519-cert-v01@openssh.com,ssh-ed25519-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,sk-ssh-ed25519@openssh.com,ssh-ed25519,ssh-rsa
  Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
  MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com
  UseRoaming no

