# Based on https://unix.stackexchange.com/questions/339840/how-to-start-and-use-ssh-agent-as-systemd-service
#
# We prefer using a systemd unit, because it's way cleaner than shelling out a daemon, or have i3/sway fork it itself
# (you get logs, status, declarative config, control over restarts, etc)
# See https://unix.stackexchange.com/questions/90853/how-can-i-run-ssh-add-automatically-without-password-prompt#90869
#
# TODO : Make this unit autostart on the first socket connection ?
# TODO : Restrict perms with systemd unit configs ?
# https://github.com/elpy1/ssh-agent-systemd
#
# Starting this unit won't be enough, you also need :
# * SSH_AUTH_SOCK env var configured to point to the socket of the daemon started here
# * ssh_config option AddKeysToAgent, to add unlocked keys automatically

[Unit]
Description=SSH key agent

[Service]
Type=simple
# This should resolve to /run/user/<userid>/ssh-agent.socket
# https://www.freedesktop.org/software/systemd/man/systemd.unit.html
# TODO : maybe we can find a way to have asingle definition for here and shell env ?
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
# Careful, those are the user systemd instance targets, list them with `systemctl --user list-units -t target`
# For some reason, graphical.target is not loaded by default
# TODO : Maybe try graphical-session.target ? It's loaded but inactive,not sure why.
# If so, change the socket path to a session-scoped path (instead of user-scoped as currently)
# Careful when changing the WantedBy target : the task enabling the unit won't update the required symlinks
# TODO : Make a task disabling the units before re-enabling them when changed ?
WantedBy=default.target

